{% extends "base.html" %}

{% block content %}
    <h1>{{ current_user.username }}</h1>
    <a class="btn btn-primary" href="{{url_for('eliminar_articulos')}}">Borrar</a>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">SKU</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
        </tr>
        </thead>
        <tbody>
            {% for note in notes %}
            <tr>
                <td>{{note.title}}</td>
                <td><a class="btn btn-primary" href="{{url_for('share_notes', id=note.id)}}">Compartir</a></td>
                <td><a class="btn btn-primary" href="{{url_for('delete_notes', id=note.id)}}">Eliminar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}